<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<plugins>
		<!-- 指定数据库分页方言Dialect -->
		<plugin interceptor="com.github.ibole.infrastructure.persistence.db.mybatis.pagination.PaginationInterceptor">
			<property name="dialectClass" value="com.github.ibole.infrastructure.persistence.db.mybatis.dialect.MySQLDialect" />
		    <property name="sqlRegex" value="*.ByPage"/>
		</plugin>
	</plugins>
	<mappers>
		<mapper resource="mapper/module1/ExamDao.xml" />
	</mappers>
</configuration>